<div class="contents row">
  <div class="container">
    <h3>記録の情報を入力</h3>
    <%= form_with(model: @entry, local: true) do |form| %>
      <%= form.text_field :title, placeholder: "title" %>
      <%= form.text_field :photo, placeholder: "Photo Url" %>
      <%= form.text_area :text, placeholder: "text", rows: "10" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>