<div class="contents row">
  <div class="container">
    <h3>記録の情報を入力</h3>
    <%= form_with(model: @entry, local: true, html: { multipart: true }) do |form| %>
      <div class="img-upload">
        <div class="weight-bold-text">
          記録画像
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= form.file_field :photo %>
        </div>
      </div>

      <div class="new-items">
        <div class="weight-bold-text">
          タイトル
          <span class="indispensable">必須</span>
        </div>
        <%= form.text_area :title, placeholder: "title" %>
      </div>
     
      <div class="new-items">
        <div class="weight-bold-text">
          テキスト
           <span class="indispensable">必須</span>
        </div>
        <%= form.text_area :text, placeholder: "text", rows: "10" %>
      </div>

      <%= form.submit "記録する" %>
    <% end %>
  </div>
</div>